*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.red{
    border: solid red 2px;
}

.main {
    display: grid;
    justify-content: center;
    margin: 2rem;
    box-sizing: border-box;
}

.main button {
    margin: 1rem 0;
}

.enlaces {
    display: flex;
    justify-content: center;
}

.enlaces a{
    text-decoration: none;
    color: black;
}

.enlaces a:hover{
    font-weight: bold;
}